---
layout: default
---
<div class="jumbotron jumbotron-fluid text-center">
  <div class="container">
    <h1>
      {{ site.title_extra.main | escape }}
      <br/>
      <small class="text-muted">
        {{ site.title_extra.secondary | escape }}
      </small>
    </h1>
    <p class="lead">{{ site.description | escape }}</p>
    <a role="button" class="btn btn-primary btn-lg" href="https://libertarian-party.com/membership_apps/new">
      Вступить
    </a>
    <a role="button" class="btn btn-success btn-lg" href="{{ "/donate.html" | relative_url }}">
      Сделать пожертвование
    </a>
  </div>
</div>

<div class="container">
  <div class="home">
    {%- if page.title -%}
      <h1 class="page-heading">{{ page.title }}</h1>
    {%- endif -%}

    <div class="row">
      {% if site.posts.size > 0 %}
        <div class="col-sm">
          <h2>Новости</h2>
          <ul>
            {% for post in site.posts %}
              <li>
                <span>{% include datetime.html value=post.date %}</span>
                <h3>
                  <a href="{{ post.url | relative_url }}">
                    {{ post.title | escape }}
                  </a>
                </h3>
                {{ post.excerpt }}
              </li>
            {% endfor %}
          </ul>
        </div>
      {% endif %}

      {% if site.events.size > 0 %}
        <div class="col-sm">
          <h2>События</h2>
          <ul>
            {% for event in site.events %}
              <li>
                <span>{% include datetime.html value=event.date %}</span>
                <h3>
                  <a href="{{ event.url | relative_url }}">
                    {{ event.title | escape }}
                  </a>
                </h3>
              </li>
            {% endfor %}
          </ul>
        </div>
      {% endif %}
    </div>
  </div>
</div>
